<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
</head>
<body>
    <h1>This is the Teskey Brothers About Page</h1>
    <p>The Teskey Brothers are an Australian blues rock
        band from Melbourne, Australia named after the two 
        brothers who formed the group in 2008: Josh Teskey (
        vocals, rhythm guitar) and Sam Teskey (lead guitar).
        The band also includes Brendon Love (bass guitar) and 
        Liam Gough (drums).
    </p>
    <a href="/views/home.html">Go to the home page</a><br>
    <a href="/views/works.html">Go to works page</a><br>
    <a href="/views/photogallery.html">See photo gallery</a>
</body>
</html>