<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo gallery</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
</head>
<body>
    <h1>Teskey Brothers Photo Gallery</h1>
    <p>This is my second route</p>
    <a href="/views/home.html">Back to Home</a><br>
    <a href="/views/about.html">Go to about page</a><br>
    <a href="/views/works.html">Go to works page</a><br>
    <img src="/public/images/teskey-brothers.jpg" alt="picture of the teskey brothers" />
    
</body>
</html>